.Wrapper {
    margin: auto;
    width: 60%;
    padding: 30px;
}

button.link {
    background: transparent;
    border: 0;
    padding: 0;
    display: inline;
    position: relative;
    color: rgb(136, 239, 136);
}

button.link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(136, 239, 136);
    transition: width  0.3s ease;
    bottom: 0;
}

button.link:hover::before {
    width: 100%;;
}