.Wrapper {
    padding: 80px 10vw 0;
    height: 100vh;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.Wrapper div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.homeForm {
    /* margin: auto; */
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.homeForm input {
    width: 60%;
    min-width: 145px;
    transition: box-shadow 0.33s ease;
}

.homeForm input:autofill {
    background-color: transparent;
}

.homeForm input:focus-visible {
    /* outline: 2px rgb(99,198,99) solid;
    outline-offset: 1px; */
    box-shadow: 5px 5px #fff;
}