@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* {
  margin: 0;
  padding: 0;
  border: none;
  transition: all 0.1s ease;
  border-color: rgb(39, 39, 42, 1);
}

select option {
  background: green;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  height: 100vh;
  width: fit-content;
}

body {
  height: 100vh;
  width: 100vw;
  background: rgb(3 7 18) !important;
  color: white !important;
}

.Hero {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: rgb(122, 241, 194);
  background: linear-gradient(90deg, rgba(122, 241, 194, 1) 17%, rgba(98, 234, 240, 1) 22%, rgba(77, 160, 196, 1) 28%, rgba(65, 143, 186, 1) 37%, rgba(95, 152, 210, 1) 45%, rgba(31, 197, 240, 1) 56%, rgba(105, 127, 250, 1) 65%, rgba(126, 75, 214, 1) 82%);
  background-clip: text;
  color: white;
  display: inline-block;
  font-weight: 700;
  font-size: calc(4em+4vw);
}

.rainbow {
  background: rgb(122, 241, 194);
  background: linear-gradient(90deg, rgba(122, 241, 194, 1) 17%, rgba(98, 234, 240, 1) 22%, rgba(77, 160, 196, 1) 28%, rgba(65, 143, 186, 1) 37%, rgba(95, 152, 210, 1) 45%, rgba(31, 197, 240, 1) 56%, rgba(105, 127, 250, 1) 65%, rgba(126, 75, 214, 1) 82%);
  background-clip: text;
  color: grey;
  font-weight: 500;
}

.Hero>span {
  display: block;
}

.Navbar {
  width: 100vw;
  padding: 5px 20px;
  position: fixed;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex.grey {
  display: flex;
  gap: 5px;
  font-weight: 600;
  font-size: clamp(20px, 1em, 50px);
}

.heading {
  font-size: 2.75rem;
}


.logo {
  height: 7vh;
  width: 180px;
}

.grey {
  color: rgb(161, 161, 170, 0.6);
}

input {
  padding: 10px 5px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  border: 1px solid rgb(161, 161, 170, 0.6);
}

input:active,
:focus-visible {
  border: 1px solid rgb(159, 159, 159);
}

button {
  padding: 10px 20px;
  border-radius: 5px;
}

.separator {
  margin-bottom: 10px;
  padding: 0 37%;
  opacity: 0.3;
}

.separator div {
  height: 1.5px;
  width: 100%;
  background-color: rgb(161, 161, 170, 1);
}

.success {
  background: rgb(99, 198, 99);
  transition: transform 0.2s ease;
}

.success:hover {
  background-color: rgb(126, 209, 126);
}

.success:active {
  transform: scale(0.986);
  opacity: 0.75;
}

.prevent.success:disabled.success:disabled {
  cursor: not-allowed;
}

.error {
  background: rgb(216, 79, 79);
}

.error:active {
  background-color: rgb(216, 79, 79, 0.75);
}

.inactive {
  opacity: 0.3;
}

.underline.link {
  background: transparent;
  border: 0;
  padding: 0;
  display: inline;
  position: relative;
  color: rgb(136, 239, 136);
}

.underline.link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  background-color: rgb(136, 239, 136);
  transition: width 0.3s ease, transform 0.2s ease;
  bottom: 0;
  transform-origin: right;
}

.underline.link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

body a {
  text-decoration: none;
  color: #FFF;
}

.rainbow-button {
  width: fit-content;
  height: fit-content;
  padding: 3px;
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.rainbow-button:after {
  content: attr(alt);
  padding: 3px 25px;
  background-color: #191919;
  display: flex;
  align-items: center;
  border-radius: 25px;
  justify-content: center;
  transition: all 0.12 ease;
}


.rainbow-button:hover {
  animation: slidebg 7s linear infinite forwards;
  transform: translateY(1.2px);
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

.disabled {
  background-color: grey !important;
}
*/